.view-video-card .view-content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1.25em;
    position: relative;
    box-sizing: border-box;
}

.view-video-card .views-row-odd {
    float: left;
    margin-bottom: 0;
    min-height: 1px;
    padding-left: 1.25em;
    position: relative;
    width: 66.66%;
}

.view-video-card .views-row-even {
    float: left;
    margin-bottom: 0;
    min-height: 1px;
    padding-left: 1.25em;
    position: relative;
    width: 33.3333%;
}

.card--16-9 {
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
}

.embed-container {
    position: relative;
}

.card {
    position: relative;
}

.card--16-9 video,
.card--16-9 iframe,
.card--16-9 .embed-container>* {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    box-sizing: border-box;
}

.card__content {
    border-top: 4px solid #cc181e;
}

.embed-container iframe {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
}

.card__media {
    display: block;
    height: auto;
    width: auto;
}

.view-content *,
 ::before,
 ::after {
    box-sizing: inherit;
}

.card .social-icon::before {
    background-image: url("https://www.harvard.edu/sites/all/themes/hedu2015/assets/img/social-color-sprite@2x.png");
    background-size: 320px 20px;
    background-repeat: no-repeat;
    content: '';
    height: 21px;
    left: 0;
    position: absolute;
    speech: none;
    top: 0;
    width: 20px;
    background-position: -40px 0;
}

.social-icon {
    padding-left: 30px;
    position: relative;
}

.card__content__heading {
    font-size: .875em;
    padding: 1.25em 1.25em 0;
    line-height: 1.2em;
    text-transform: uppercase;
}

.card__content__source {
    padding: 1em 1.25em;
}

card__content__source .card__title {
    margin: 0;
}

.card__title {}

.card__content__source .card__title {
    margin: 0;
}